<footer>
  <div class="contact">
    &copy; 2020 Grant Cottle
    <div class="icons">
      <%= link_to "mailto:cottledev@gmail.com" do %> 
       <%= fa_icon "envelope"  %> 
      <% end %> &nbsp;
      <%= link_to "https://github.com/grantmaster89" do %> 
         <%= fa_icon "github"  %> 
        <% end %> &nbsp;
      <%= link_to "https://www.linkedin.com/in/grant-cottle/" do %> 
         <%= fa_icon "linkedin"  %> 
      <% end %> &nbsp;
    </div>
  </div>
</footer>
